
.component{
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    display: flex;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.imageComponent{
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    display: flex;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; // this is optional
    background-color: white;
    background-image: url("../assets/Website_Prelim.jpg");
}
.wordContainer{
    opacity:100%;
    color: black;
    align-self: center;
    vertical-align: middle;
}
a{
    color:black;
}
.title{
    font-size: 5em;
}
.subtitle{

    font-size: 3em;
}

.instaFeedContainer{
    width: 100vw;
    display: flex;
    justify-content:space-around;
    // padding: 3vw;
    flex-flow: row wrap;
    flex: 1;

}
.instaContainer{
    width:  328px;
}
.insta{
    width:  328px;
}
a:visited{
    color:black;
}