
.component{
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    display: flex;
    background-color: white;
}
.image{
    width: 40%;


}
.wordContainer{
    opacity:100%;
    color: black;
    align-self: center;
    vertical-align: middle;
}
a{
    color:black;
}
.title{
    font-size: 5em;
}
.subtitle{

    font-size: 2em;
}

.instaFeedContainer{
    width: 100vw;
    display: flex;
    justify-content:space-around;
    // padding: 3vw;
    flex-flow: row wrap;
    flex: 1;

}
.instaContainer{
    width:  328px;
}
.insta{
    width:  328px;
}
a:visited{
    color:black;
}